<!-- Componet News Wire -->
<div class="left-0 h-auto py-10 sm:py-0 sm:h-32 bg-black w-full">
        <div class="flex flex-wrap lg:items-top mx-auto md:max-w-expBody justify-between px-4 h-full">
            {% for item in section.news %}
            <!-- Element -->
            {% if item.link %}
            {% assign apost = site.pages | where:"path",item.link  | first %}
                <a href="{{ item.link }}" class="w-full sm:flex-1 h-full text-bwhite text-sm content-center items-center flex px-6 nw" target="{% if item.newtab %}_blank{% endif %}">
                    <span class="my-4 sm:my-0 w-1/3">
                        <img src="{{ item.icon | absolute_url }}" alt="{{ item.link_title }}" />  
                    </span>
                    <p class="text-base">{{ item.description }}</p>
                </a>
            {% endif %}
            {% endfor %}
        </div>
</div>
<!-- END Componet News Wire -->
