<!-- Highlights 2 Col -->
<section class="bg-bwhite relative">

    <div class="px-4 md:max-w-expBody justify-between mx-auto py-16 relative">
        
        <!-- Title Section -->
        <h4 class="w-full text-black font-bold text-base mb-4 font-sans text-center align-middle justify-center">{{ section.heading }}</h4>
        <div class="w-full text-black font-bold text-6xl mb-6 font-sans text-center align-middle justify-center leading-exp">
                {{ section.subheading }}
        </div>

        <!-- Standard Two-Col -->
        {% for item in section.highlights %}
        <div class="flex -mx-4">
            <!-- Left -->
            <div class="w-full sm:w-6/12 px-4 mt-4">
                <div class="w-full my-4 pt-4 pb-6 px-6 relative flex-row">
                    <img src="{{ item.icon_left | absolute_url }}" class="w-3/12 float-left">
                    <div class="w-8/12 float-right">
                        <h3 class="text-2xl sm:text-3xl md:text-xl font-semibold font-sans mb-3 text-red">{{ item.headline_left }}</h3>
                        <p class="text-xl font-light leading-normal my-2">{{ item.description_left }}</p>
                    </div> 
                </div> 
            </div>
            <!-- Right -->
            <div class="w-full sm:w-6/12 px-4 mt-4">
                <div class="w-full my-4 pt-4 pb-6 px-6 relative flex-row">
                    <img src="{{ item.icon_right | absolute_url }}" class="w-3/12 float-left">
                    <div class="w-8/12 float-right">
                        <h3 class="text-2xl sm:text-3xl md:text-xl font-semibold font-sans mb-3 text-red">{{ item.headline_right }}</h3>
                        <p class="text-xl font-light leading-normal my-2">{{ item.description_right }}</p>
                    </div> 
                </div> 
            </div>
        </div>
        {% endfor %}
        <!-- END Standard Two-Col -->
    </div>

</section>
<!-- END Highlights 2 Col -->