<!-- Index Hero -->
<div class="bg-cover bg-center pb-8 indexHero" style="background-image: url('{{ section.banner_image | absolute_url }}');">
    <div class="flex flex-wrap mb-4 lg:items-top mx-auto md:max-w-expBody pt-32 lg:pt-64 px-4 justify-between">

            <!-- Text Intro -->
            <div class="w-full md:w-1/2 flex-grow pr-2">
                <h1 class="text-5xl sm:text-3xl md:text-exphl font-semibold leading-exp font-black font-sans my-6">{{ section.heading | default: section.title }}</h1>
                {% if section.sub_heading and section.sub_heading != "" %}
                    <p class="text-2xl md:text-hp font-light leading-snug">{{ section.sub_heading }}</p>
                {% endif %}
                <div class="h-2 bg-red w-24 mt-6 mb-6 sm:mt-12 sm:mb-0"></div>
            </div>

            <!-- Quick Navigation -->
            <div class="w-full md:w-1/2 flex-grow sm:pl-24 mt-0 inxQN">
                {% for item in section.index_quicknavigation %}
                    <!-- Element -->
                    {% if item.link %}
                        {% assign apost = site.pages | where:"path",item.link  | first %}
                    {% endif %}
                    <a href="{{apost.url}}" class="w-full block bg-bwhite my-4 p-4 px-6 relative quickNav {% if item.link == '/services/cloud' %}active{% endif %}">
                        <h2 class="text-xl md:text-xl font-semibold font-sans">{{ item.link_title }}</h2>
                        <div class="icon absolute top-0 right-0 mx-6 my-4 ">       
                            <img src="{{ item.icon | absolute_url }}" alt="{{ item.link_title }}" />                     
                        </div>
                        <div class="sup">
                            <p class="font-light w-full sm:w-3/4 text-lg sm:text-base mb-3 mt-0">{{ item.description }}</p>
                            <div class="text-red ctaLink text-base font-bold font-sans inline pb-1">Learn More</div>
                        </div>
                    </a>
                {% endfor %}
            </div>
            <!-- END Quick Navigation -->

            <!-- Quick Nav JS -->
            <script type="text/javascript">
                // Homepage Quick Naviagtion
                var qNav = document.querySelectorAll('.quickNav');

                //Check for class active
                if(!qNav[0].classList.contains('active')){
                    qNav[0].classList.toggle("active");
                };

                for (i = 0; i < qNav.length; i++) { 
                    qNav[i].addEventListener("mouseover", function( event ) {
                        var aQuickNav = document.querySelectorAll('.quickNav.active');

                        aQuickNav[0].classList.remove('active');

                        this.classList.toggle("active");
                    });
                }
            </script>

            <!-- Client Know Best -->
            <div class="flex w-full mb-12 pt-4 sm:pt-20 content-start justify-between flex-wrap align-middle items-center">
                <h3 class="text-2xl w-full text-center sm:text-left sm:w-auto sm:w-sm:text-3xl md:text-hpClient font-semibold leading-exp font-black font-sans my-2 text-dgrey opacity-25">Our Clients Know Best</h3>
                {% for item in section.index_casestudies %}
                    <!-- Item -->
                    <a href="{{item.link}}" class="ckb w-1/2 my-4 sm:w-auto px-4 sm:px-0" data-tippy-content="Read Case Study">
                        <img src="{{ item.client_logo | absolute_url }}" alt="{{ item.title }}" />
                    </a>
                {% endfor %}
            </div>
            <!-- END Client Know Best -->

            <!-- Case Studies JS -->
            <script src="https://unpkg.com/popper.js@1"></script>
            <script src="https://unpkg.com/tippy.js@4"></script>
            <script type="text/javascript">
                // Popup Tips
                tippy.setDefaults({
                    arrow: true,
                })
                tippy('[data-tippy-content]')
            </script>
            
    </div>
</div>
<!-- END Index Hero -->