<!-- Recent Posts -->
<section class="relative sm:py-12 bg-lgrey sm:pb-12">

    <div class="px-4 md:max-w-expBody justify-between mx-auto">
        <div class="flex -mx-4 flex-wrap">
            {% for post in site.posts limit:3 %}
                <!-- Column -->
                <a href="{{ post.url }}" class="flex-1 px-4 related">
                    <h3 class="text-2xl sm:text-3xl md:text-xl font-bold font-sans mb-3 text-red mb-6">Featured Posts</h3>
                    <img src="/images/ph_Related.jpg" class="w-full"/>
                    <div class="bg-bwhite p-6">
                        <h4 class="text-black text-2xl sm:text-3xl md:text-xl font-bold font-sans">{{ post.title }}</h4>
                        <p class="text-base font-light my-4">{{ post.content | truncatehtml | truncatewords: 60 }}</p>
                        <span class="text-red ctaLink text-base font-bold font-sans inline pb-1">Learn More</span>
                    </div>
                </a>
            {% endfor %}
        </div>
    </div>

</section>
<!-- END Recent Posts -->