<!-- Quote Call Out -->
<section class="bg-black relative">
    <div class="px-4 md:max-w-expBody justify-between mx-auto py-12 md:py-40 flex flex-wrap relative z-10">
        <!-- Column -->
        <div class="w-42 mb-6 sm:mb-0 sm:w-3/12 px-4 mx-auto">
            <img src="{{ section.icon | absolute_url }}"  class="mx-auto rounded-full w-full"/>
        </div>
        <!-- Column -->
        <div class="w-full sm:w-8/12 px-4">
            <div class="slide current">
                <blockquote class="text-bwhite text-2xl md:text-4xl font-sans font-semibold leading-snug mb-10">{{ section.quote }}</blockquote>
                <cite class="text-bwhite text-xl sm:text-3xl md:text-xl font-bold font-sans not-italic">{{ section.cite }}</cite>
            </div>
        </div>
    </div>
    <div style="background-image: linear-gradient(to bottom, rgba(245, 246, 252, 0.52), rgba(0, 0, 0, 0.90)), url('{{ section.quote_background | absolute_url }}');" class="absolute h-full w-full top-0 opacity-50 bg-cover"></div>
</section>
<!-- END Quote Call Out -->