<!-- Quote Call Out -->
<section class="bg-black bgQuote">
    <div class="px-4 md:max-w-expBody justify-between mx-auto py-16 flex flex-wrap">
        <!-- Column -->
        <div class="w-42 mb-6 sm:mb-0 sm:w-56 px-4 mx-auto">
            <img src="{{ section.image | absolute_url }}" alt="{{ section.image-alt }}" class="w-full" />
        </div>
        <!-- Column -->
        <div class="w-full sm:w-9/12 px-4">
            <div class="slide current">
                <blockquote class="text-bwhite text-2xl md:text-4xl font-sans font-semibold leading-snug mb-10">{{ section.quote }}</blockquote>
                <cite class="text-bwhite text-xl sm:text-3xl md:text-xl font-bold font-sans not-italic">{{ section.cite }}</cite>
                {% if !section.link == blank %}
                    <a href="{{ section.link | absolute_url }}"" class="w-56 block bg-red px-5 py-3 text-bwhite font-bold text-base font-sans mt-8 ctaButton relative align-middle relative">
                        <svg xmlns="http://www.w3.org/2000/svg" width="7.737" height="11.791" viewBox="0 0 7.737 11.791" class="absolute right-0 mr-4 mt-2"><path d="M250.582,37.634l-5.829,5.9-1.908-1.92,3.925-3.976-3.925-3.975,1.908-1.92Z" transform="translate(-242.845 -31.738)" fill="#fdfdfd"></path></svg>
                        {{ section.cta }}
                    </a>
                {% endif %}
            </div>
        </div>
    </div>
</section>
<!-- END Quote Call Out -->