{% comment %}
	Creates a breadcrumb from the page's URL
{% endcomment %}
<div class="hidden sm:block absolute w-full z-40 text-black" style="top:10em;z-index:15;">
<nav aria-label="breadcrumb" class="breadcrumb flex flex-wrap mb-4 lg:items-top mx-auto md:max-w-exp px-4 z-10 relative font-sans text-xs tracking-widest font-normal">
	<!-- <div class="container">
		<div class="pure-u-1">
        <div class="content {% if include.class %}{{ include.class }}{% endif %}"> -->
					{% assign parts = page.url | split: "/" %}
						<!-- <ul> -->
							{% for part in parts offset: 1 %}
								{% if forloop.last %}
									<!-- ACTIVE -->
									<a href="#" class="font-semibold text-red nav-item hidden">{{ page.title }}</a>
								{% else %}
									{% assign text =  part | replace:'-', ' ' | capitalize %}
									{% assign limit = forloop.index | plus: 1 %}
									{% capture href %}{% for part in parts limit: limit %}{{ part | append: '/' }}{% endfor %}{% endcapture %}
									<!-- <li class="float-left"> -->
										{% if forloop.index == 1 %}
											<a href="#" class="nav-item">{{ text }}</a>
										{% else %}
											<a href="{{ href | absolute_url }}" class="nav-item">{{ text }}</a>
										{% endif %}
									<!-- </li> -->
								{% endif %}
							{% endfor %}
						<!-- </ul> -->
        <!-- </div>
    </div>
	</div> -->
</nav>
</div>
