<!-- FOOTER -->
<footer class="bg-black relative">
    <div class="px-4 md:max-w-expBody justify-between mx-auto py-16 relative">
            <div class="w-full text-bwhite font-bold text-5xl mb-2 font-sans text-left align-middle justify-left">
                    <svg class="mb-8" xmlns="http://www.w3.org/2000/svg" width="71.901" height="28.771" viewBox="0 0 71.901 28.771"><path d="M915.5,260.49a5.992,5.992,0,1,1,5.991,6.043,6.018,6.018,0,0,1-5.991-6.043m-16.7,0,14.212-14.384,4.651,4.69-9.573,9.694,9.573,9.7-4.651,4.69Zm43.215,0a5.994,5.994,0,1,1,5.991,6.043,6.018,6.018,0,0,1-5.991-6.043m-13.258,0a5.994,5.994,0,1,1,5.991,6.043,6.018,6.018,0,0,1-5.991-6.043m41.944,0-14.212,14.388-4.651-4.69,9.569-9.7L951.84,250.8l4.651-4.69Z" transform="translate(-898.802 -246.106)" fill="#f20505"/></svg>
            </div>
            <div class="md:flex mb-4">
                <div class="w-full md:w-1/4">
                    <ul class="sm:w-12/12 flex mx-auto sm:text-left align-middle justify-left pb-1 flex-wrap">
                        {% for item in site.menus.footer %}
                        <!-- Column -->
                        <li class="w-full">
                            <a href="{{ item.url | absolute_url }}" class="text-bwhite text-xl font-semibold hover:text-red">{{ item.title }}</a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="w-full md:w-1/4">
                    <ul class="sm:w-12/12 flex mx-auto sm:text-left align-middle justify-left pb-1 flex-wrap">
                        {% for item in site.menus.subfooter %}
                            <!-- Column -->
                            <li class="w-full">
                                <a href="{{ item.url | absolute_url }}" class="text-bwhite text-xl font-normal hover:text-red">{{ item.title }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="w-full md:w-1/4">
                    <ul class="sm:w-12/12 flex mx-auto sm:text-left align-middle justify-left pb-1 flex-wrap">
                            <!-- Column -->
                            <li class="w-full">
                                <a href="/careers.html" class="text-bwhite text-xl font-normal hover:text-red">Careers</a>
                            </li>
                            <!-- Column -->
                            <li class="w-full">
                                <a href="/lets-talk" class="text-bwhite text-xl font-normal hover:text-red">Contact Us</a>
                            </li>
                            <!-- Column -->
                            <li class="w-full">
                                <a href="https://support.expedient.com/" class="text-bwhite text-xl font-normal hover:text-red">Support</a>
                            </li>
                            <!-- Column -->
                            <li class="w-full">
                                <a href="Tel: 877-570-7827" class="text-bwhite text-xl font-normal hover:text-red">877-570-7827</a>
                            </li>
                    </ul>
                </div>
                <div class="w-full md:w-1/4 text-dgrey font-normal text-base mb-2 sm:text-left align-middle justify-left">
                    ©2019 Expedient. All Rights Reserved. <br/><a href="/terms-and-conditions">Terms and Conditions for Use of Service (TCUS)</a>. <br/><a href="/services/managed-services/compliance-security/privacy-shield">Privacy Shield Policy for GDPR</a>. <br/><a href="/privacy-policy">Privacy Policy</a>.
                </div>
            </div>
    </div>
</footer>
<!-- END FOOTER -->
<!-- Lazy load -->
{% include lazyload.html %}
<!-- Javascript -->
<script src="{{ "/js/main.js" | absolute_url }}" type="text/javascript"></script>
</body>
</html>