<!-- Quick Navigation -->
<div class="w-full md:w-1/2 flex-grow sm:pl-24 mt-10">
    {% for item in section.index_quicknavigation %}
        <!-- Element -->
        <a href="{{ item.link | absolute_url }}" class="w-full block bg-bwhite my-4 p-4 px-6 relative quickNav {% if item.link == '/services/cloud' %}active{% endif %}">
            <h2 class="text-2xl sm:text-3xl md:text-xl font-semibold font-sans">{{ item.title }}</h2>
            <div class="icon absolute top-0 right-0 mx-6 my-4 ">       
                <img src="{{ item.icon | absolute_url }}" alt="{{ item.title }}" />                     
            </div>
            <div class="sup">
                <p class="font-light w-full sm:w-3/4 text-lg sm:text-base mb-3">{{ item.description }}</p>
                <div class="text-red ctaLink text-base font-bold font-sans inline pb-1">Learn More</div>
            </div>
        </a>
    {% endfor %}
</div>
<!-- END Quick Navigation -->

<!-- Quick Nav JS -->
<script type="text/javascript">
    // Homepage Quick Naviagtion
    var qNav = document.querySelectorAll('.quickNav');

    for (i = 0; i < qNav.length; i++) { 
        qNav[i].addEventListener("mouseover", function( event ) {
            var aQuickNav = document.querySelectorAll('.quickNav.active');
            aQuickNav[0].classList.remove('active');

            this.classList.toggle("active");
        });
    }
</script>