<!-- Featured Blog -->
<section class="relative sm:py-2 bg-bwhite sm:pb-12 featuredBlog">
<div class="absolute left-0 w-1/2" style="border-top: 8px solid #F6F6F6;"></div>
<div class="flex flex-wrap lg:items-top mx-auto md:max-w-expBody justify-between relative px-4 mb-12">
        
    <div class="w-full sm:w-7/12 pr-4 relative py-6 postDetail" style="border-top: 8px solid #F6F6F6; border-bottom: 8px solid #F6F6F6; border-right: 8px solid #F6F6F6;">
        <h3 class="text-red text-xl font-bold font-sans">Latest Article</h3>
        <h2 class="text-4xl leading-tight font-black font-sans mt-1 mb-4"><a href="{{ root_url }}{{ post.url }}" class="ctaLink">{{ post.title }}</a></h2>
        <div class="flex flex-wrap flex-wrap w-3/4 my-8 align-middle items-center">
            <div class="mr-8">
                <!-- Profile Picture -->
                {% if post.author %}
                {% assign staff_member = site.people | where: 'title', post.author | first %}
                {% if staff_member %}
                    <img alt="{{ staff_member.title }}" src="{{ staff_member.thumbnail | absolute_url }}" class="h-24 rounded-full">
                {% endif %}
                {% else %}
                    <img alt="Expedient" src="/uploads/EXP_Circle-Mark.svg" class="h-24 rounded-full">
                {% endif %}
            </div> 
            <div class="mr-8 post-info align-middle">
                <span class="addInfo block">Author</span>
                <a href="#" class="authorName">{{ post.author }}</span></a>
            </div> 
            <div class="mr-8">
                <span class="addInfo block">Read Time</span>
                {% include readtime.html content=post.content %}
            </div> 
        </div>
        <p class="text-xl font-light leading-normal my-4">{{ post.content | truncatewords: 60 | strip_html }}</p>
        <div class="text-red text-base font-bold font-sans inline pb-1"><a href="{{ post.url | absolute_url }}" class="ctaLink">Read Article</a></div>
    </div>
    <div class="absolute bottom-0 left-0 w-full" style="border-bottom: 8px solid #F6F6F6; margin-left:-150%; width: 200%"></div>
    <div class="w-full sm:w-4/12 pl-4">
        <h3 class="text-red text-xl font-bold font-sans mb-4">Services</h3>
        <a href="/knowledgebase/blog/tag/cloud/" class="w-full block bg-lgrey my-1 p-4 px-6 relative quickNav font-sans font-semibold text-base">
            Cloud
        </a>
        <a href="/knowledgebase/blog/tag/colocation/" class="w-full block bg-lgrey my-1 p-4 px-6 relative quickNav font-sans font-semibold text-base">
            Colocation
        </a>
        <a href="/knowledgebase/blog/tag/disaster%20recovery/" class="w-full block bg-lgrey my-1 p-4 px-6 relative quickNav font-sans font-semibold text-base">
            Disaster Recovery
        </a>
        <a href="/knowledgebase/blog/tag/security%20and%20compliance/" class="w-full block bg-lgrey my-1 p-4 px-6 relative quickNav font-sans font-semibold text-base">
            Security and Compliance
        </a>
        <h3 class="text-red text-xl font-bold font-sans mb-4 mt-8">Popular</h3>
        <a href="/knowledgebase/blog/tag/disaster%20recovery/" class="w-full block bg-lgrey my-1 p-4 px-6 relative quickNav font-sans font-semibold text-base">
            Disaster Recovery as a Service
        </a>
        <a href="/knowledgebase/blog/tag/data%20centers/" class="w-full block bg-lgrey my-1 p-4 px-6 relative quickNav font-sans font-semibold text-base">
            Data Centers
        </a>
        <a href="/knowledgebase/blog/tag/private%20cloud/" class="w-full block bg-lgrey my-1 p-4 px-6 relative quickNav font-sans font-semibold text-base">
            Private Cloud
        </a>
    </div>
</div>
</section>
<!-- END Featured Blog -->