{% include head.html %}
{% include nav.html %}
{% for section in page.page_sections %}
{% include block-{{ section.block }}.html %}
{% endfor %}
{% include footer.html %}
<script type="text/javascript">
	// Fade-In Animations
	var animateHTML = function() {
	var elems;
	var windowHeight;
	function init() {
		elems = document.querySelectorAll('.hiddensc');
		windowHeight = window.innerHeight;
		addEventHandlers();
		checkPosition();
	}
	function addEventHandlers() {
		window.addEventListener('scroll', checkPosition);
		window.addEventListener('resize', init);
	}
	function checkPosition() {
		for (var i = 0; i < elems.length; i++) {
		var positionFromTop = elems[i].getBoundingClientRect().top;
		if (positionFromTop - windowHeight <= 0) {
			elems[i].className = elems[i].className.replace(
			'hiddensc',
			'fade-in-element'
			);
		}
		}
	}
	return {
		init: init
	};
	};
	animateHTML().init();
</script>