---
layout: default
---
{% comment %}
	This layout is used by the documents in the _posts/ collection
{% endcomment %}

<!-- Blog Hero -->
<div class="bg-cover bg-center pb-8 relative" style="background-image: url(/uploads/bg_blog.jpg)">
  <div class="absolute h-full w-full z-0 top-0 mt-20" style="background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); "></div>
  <div class="flex flex-wrap mb-4 lg:items-top mx-auto md:max-w-expBody pt-32 lg:pt-48 lg:pb-16 px-4 justify-between z-10 relative">
          <!-- Text Intro -->
          <div class="w-full md:w-1/2 flex-grow pr-2">
              <h1 class="text-5xl sm:text-3xl md:text-exphl font-semibold leading-exp font-black font-sans my-6 text-center">{{page.title}}</h1>
              <div class="h-2 bg-red w-24 mt-12 mx-auto"></div>
          </div>
  </div>
</div>
<div class="hidden">
<!-- END Blog Hero -->
{% include breadcrumbs.html class="content-narrow" %}

<br/>
<!-- NEEDED POST INFO -->
<h1>{{page.title}}</h1>

<!-- Page Author info -->
{% assign author = site.people[page.author] %}
{% if page.author %}
  <span>
    Written by {{ author.title }}
  </span>
{% else %}
  <span>
    Written by Toby Osbourn
  </span>
{% endif %}

{% if page.author %}
  {% assign staff_member = site.people | where: 'title', page.author | first %}
  {% if staff_member %}
    <h2>{{ staff_member.title }}</h2>
    <img alt="{{ staff_member.title }}" src="{{ staff_member.thumbnail | absolute_url }}">
  {% endif %}
{% endif %}

<!-- END Page Author info -->
</div>

<!-- END POST INFO -->
<div class="lg:items-top mx-auto md:max-w-expBody justify-between relative px-4 mb-12 mt-40">
  <div class="pure-u-1">
    <div class="content content-narrow">
      <div class="meta">
        {% if page.date %}
        <div class="post-date">{{ page.date | date_to_string }}</div>
        {% endif %}
        {% if page.author %}
          <div class="post-date">{{ page.author }}</div>
        {% endif %}
        {% if page.tags.size > 0 %}
        <div class="tags-list mb-2 absolute top-0 right-0 w-3/12 sm:w-4/12 mt-0 sm:mt-0 pl-4">
          <h3 class="text-red text-xl font-bold font-sans mb-4">Tags</h3>
            {% for tag in page.tags %}
            <a href="#" class="tag_list_item block bg-bwhite my-1 p-4 px-6 relative quickNav font-sans font-semibold text-base">
              {{ tag }}
            </a>
            {% endfor %}
        </div>
        {% endif %}
      </div>
      <div class="post">
      {{ content }}
      </div>
      {% if page.related_posts.size > 0 %}
			<hr>
        <h2> Related Posts </h2>
        <div class="grid-layout">
          <div class="pure-g">
          {% for item in page.related_posts %}
            {% assign posts = site.posts | where:"path", item %}
              {% for post in posts %}
              <div class="pure-u-1 pure-u-md-1-3">
                <div class="card">
                  <div class="card-header">
                  {% if post.banner_image and post.banner_image != "" %}
                    <img src="{{ post.banner_image | absolute_url }}" alt="{{ post.title }}">
                  {% else %}
                    <img src="{{ "/uploads/ph_blogPost.png" | absolute_url }}" alt="{{ post.title }}">
                  {% endif %}
                  </div>
                  <div class="card-body">
                    <h3><a href="{{ post.url | absolute_url }}">{{ post.title }}</a></h3>
                    <p>{{ post.sub_heading | slice: 0, 80 }}</p>
                  </div>
                </div>
              </div>
              {% endfor %}
          {% endfor %}
          </div>
        </div>
      {% endif %}
    </div>
  </div>
</div>

{% include block-recentposts.html %}

