---
layout: default
---
{% comment %}
	This layout is used to by posts.md to display all of documents in
	the _posts/ collection
{% endcomment %}

    <!-- Blog Hero -->
    <div class="bg-cover bg-center pb-8 relative" style="background-image: url(/uploads/bg_blog.jpg)">
      <div class="absolute h-full w-full z-0 top-0 mt-20" style="background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); "></div>
      <div class="flex flex-wrap mb-4 lg:items-top mx-auto md:max-w-expBody pt-32 lg:pt-48 lg:pb-16 px-4 justify-between z-10 relative">
              <!-- Text Intro -->
              <div class="w-full md:w-1/2 flex-grow pr-2">
                  <h1 class="text-5xl sm:text-3xl md:text-exphl font-semibold leading-exp font-black font-sans my-6 text-center">Blog</h1>
                  <p class="text-hp font-light leading-snug text-center">“Expedient delivers real value—solutions our customers can’t run their <br/>business without. Here, an individual can make a real difference, each day, in <br/>defining and delivering those solutions. A dynamic, hands-on world <br/>of technology awaits behind the scenes of IT.”</p>
                  <div class="h-2 bg-red w-24 mt-12 mx-auto"></div>
              </div>
      </div>
    </div>
    <!-- END Blog Hero -->

    <!-- Featured Blog -->
    <section class="relative sm:py-2 bg-bwhite sm:pb-12 featuredBlog">
      <div class="absolute left-0 mt-24 w-1/2" style="border-top: 8px solid #F6F6F6;"></div>
      <div class="flex flex-wrap lg:items-top mx-auto md:max-w-expBody justify-between relative px-4 mb-12">
              
          <div class="w-full sm:w-7/12 pr-4 mt-12 sm:mt-24 relative py-6 postDetail" style="border-top: 8px solid #F6F6F6; border-bottom: 8px solid #F6F6F6; border-right: 8px solid #F6F6F6;">
              <h3 class="text-red text-xl font-bold font-sans">Latest Article</h3>
              <h2 class="text-4xl leading-tight font-black font-sans mt-1 mb-4"><a href="#" class="ctaLink">Point-in-Time Recovery Using Zerto Journal History</a></h2>
              <div class="flex flex-wrap flex-wrap w-3/4 my-8 align-middle items-center">
                  <div class="mr-8">
                      <!-- Profile Picture -->
                      <img src="/images/ph_profile.jpg" class="">
                  </div> 
                  <div class="mr-8 post-info align-middle">
                      <span class="addInfo block">Author</span>
                      <a href="#" class="authorName">John White</span>
                  </div> 
                  <div class="mr-8">
                          <span class="addInfo block">Read Time</span>
                          <span class="addInfo block">> 4 mins</span>
                  </div> 
              </div>
              <p class="text-xl font-light leading-normal my-4">User Error/accidental deletion, system corruption, hardware failure, ransomware infection, malicious employees… your business faces internal and external security threats every day. Having the right IT tools in place and the knowledge to leverage them effectively is critical to your ability to mitigate these threats effectively and ensure continuous business operations and data protection.</p>
              <p class="text-xl font-light leading-normal my-4">For example, point-in-time recovery (PITR) – where a… <div class="text-red ctaLink text-base font-bold font-sans inline pb-1">Read Article</div></p>
          </div>
          <div class="absolute bottom-0 left-0 w-full" style="border-bottom: 8px solid #F6F6F6; margin-left:-150%; width: 200%"></div>
          <div class="w-full sm:w-4/12 mt-12 sm:mt-24 pl-4">
              <h3 class="text-red text-xl font-bold font-sans mb-4">Services</h3>
              <a href="#" class="w-full block bg-lgrey my-1 p-4 px-6 relative quickNav font-sans font-semibold text-base">
                  Cloud
              </a>
              <a href="#" class="w-full block bg-lgrey my-1 p-4 px-6 relative quickNav font-sans font-semibold text-base">
                  Colocation
              </a>
              <a href="#" class="w-full block bg-lgrey my-1 p-4 px-6 relative quickNav font-sans font-semibold text-base">
                  Disaster Recovery
              </a>
              <a href="#" class="w-full block bg-lgrey my-1 p-4 px-6 relative quickNav font-sans font-semibold text-base">
                  Security and Compliance
              </a>
              <h3 class="text-red text-xl font-bold font-sans mb-4 mt-8">Popular</h3>
              <a href="#" class="w-full block bg-lgrey my-1 p-4 px-6 relative quickNav font-sans font-semibold text-base">
                  Server Management and Monitoring
              </a>
              <a href="#" class="w-full block bg-lgrey my-1 p-4 px-6 relative quickNav font-sans font-semibold text-base">
                  Disaster Recovery as a Service
              </a>
              <a href="#" class="w-full block bg-lgrey my-1 p-4 px-6 relative quickNav font-sans font-semibold text-base">
                  DDoS Mitigation
              </a>
          </div>
      </div>
    </section>
    <!-- END Featured Blog -->

    {% for post in paginator.posts %}
      <!-- POST -->
      <section class="relative sm:py-2 bg-bwhite sm:pb-12">
          <div class="flex flex-wrap lg:items-top mx-auto md:max-w-expBody justify-between relative px-4 mb-12">
              
              <div class="w-full sm:w-4/12 pr-5">
                  {% if post.banner_image and post.banner_image != "" %}
                    <img src="{{ post.banner_image | absolute_url }}" alt="{{ post.title }}" class="h-auto w-full">
                  {% else %}
                    <img src="{{ "/uploads/ph_blogPost.png" | absolute_url }}" alt="{{ post.title }}" class="h-auto w-full">
                  {% endif %}
              </div>

              <div class="w-full sm:w-8/12 pl-8">
                  
                  <h2 class="text-4xl leading-tight font-black font-sans mt-1 mb-4">
                    <a href="{{ post.url | absolute_url }}" class="ctaLink">{{ post.title }}</a>
                  </h2>
                  
                  <div class="flex flex-wrap flex-wrap w-3/4 my-8 align-middle items-center">
                      <div class="mr-8">
                          <!-- Profile Picture -->
                            {% if post.author %}
                                {% assign staff_member = site.people | where: 'title', post.author | first %}
                                {% if staff_member %}
                                    <img alt="{{ staff_member.title }}" src="{{ staff_member.thumbnail | absolute_url }}" class="h-24">
                                {% endif %}
                            {% endif %}
                      </div> 
                      <div class="mr-8 post-info align-middle">
                          <span class="addInfo block">Author</span>
                          <a href="#" class="authorName">{{ post.author }}</span></a>
                      </div> 
                      <div class="mr-8">
                              <span class="addInfo block">Read Time</span>
                              {% include readtime.html content=post.content %}
                      </div> 
                  </div>
                  <p>{{ post.content | truncatewords: 30 | strip_html }}</p>
                  <div class="text-red text-base font-bold font-sans inline pb-1"><a href="{{ post.url | absolute_url }}" class="ctaLink">Read Article</a></div>
              </div>
          </div>
      </section>
      <!-- END POST -->
    {% endfor %}

    {% if paginator.total_pages > 1 %}
    <ul class="pager">
        {% if paginator.previous_page %}
        <li class="previous">
            <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; Newer Posts</a>
        </li>
        {% endif %}
        {% if paginator.next_page %}
        <li class="next">
            <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Older Posts &rarr;</a>
        </li>
        {% endif %}
    </ul>
    {% endif %}