---
layout: default
---
{% comment %}
	This layout is used by the documents in the _posts/ collection
{% endcomment %}

<!-- Blog Hero -->
<div class="bg-cover bg-center pb-8 relative" style="background-image: url(/uploads/bg_blog.jpg)">
  <div class="absolute h-full w-full z-0 top-0 mt-20" style="background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); "></div>
  <div class="flex flex-wrap mb-4 lg:items-top mx-auto md:max-w-expBody pt-32 lg:pt-48 lg:pb-16 px-4 justify-between z-10 relative">
          <!-- Text Intro -->
          <div class="w-full md:w-1/2 flex-grow pr-2">
              <h1 class="text-3xl sm:text-3xl md:text-exphl font-semibold leading-exp font-black font-sans my-6 text-center">{{page.title}}</h1>
              <p class="text-hp font-light leading-snug text-center"></p>
              <div class="h-2 bg-red w-24 mt-12 mx-auto"></div>
          </div>
  </div>
</div>
<!-- END Blog Hero -->


<!-- END POST INFO -->
<!-- END POST INFO -->
<div class="lg:items-top mx-auto md:max-w-expBody justify-between relative px-4 mb-12 mt-24">

    <div class="post">
        {{ content }}
    </div>

</div>

